.cart_div{
    padding: 20px;
    margin-top: 40px;
    width: 80%;
    margin: auto;
    background-color: #fafafa;
    /* min-height: 500px; */
    display: grid;
    grid-template-columns: 74% 25% ;
    gap: 10px;
}
.cart_item{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 0 5px ;
}
.pyment_div{
    border-left: 1px solid;
   
}
.pyment_text{
    text-align: left;
    padding: 10px;
}
.details{
    display: grid;
    grid-template-columns: 70% 30%;
}
.payDiv{
    border: 0.5px solid gray;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

@media (max-width:970px) {
    .cart_item{
        display:grid;
        grid-template-columns:49% 49%;
        gap: 10px;
    }
}

@media (max-width:600px) {
    .cart_item{
        display:grid;
        grid-template-columns: 99%;
        gap: 25px;
    }
    .cart_div{
        width: 80%;
        display: grid;
        grid-template-columns: 60% 40%;
    }
    .input>input{
        width: 100px;
    }
}